body {
    font-family: 'Open Sans', sans-serif;
    color: #f5f5f5;
    background-color: #494f62;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'MedievalSharp', cursive;
    color: #1a9597;
}

h1 {
    font-size: 3em;
    margin-top: 20px;
    text-align: center;
}

p {
    font-size: 1.2em;
    margin: 20px;
}

@media (min-width: 768px) {
    body {
        padding: 20px;
    }

    p {
        max-width: 800px;
        margin: 20px auto;
    }
}
